---
layout: compress
---

<!doctype html>
<html lang="en" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>
    {% include browser-upgrade.html %}
    {% include masthead.html %}

    <div id="main" role="main">
      {% include sidebar.html %}
    
      <article class="page" itemscope itemtype="http://schema.org/CreativeWork">
        {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
        <div class="page__inner-wrap">
          <section class="page__content" itemprop="text">
            {{ content }}

            <!-- 新增访客统计模块 -->
            <div class="section-title">
              <!-- 如果不需要标题，可删除整个 div -->
            </div>
            <div class="boxed-section" style="max-width: 500px; margin: 0 auto;">
              <ul class="clustrmaps-container" style="padding: 0; list-style: none;">
                <script 
                  type="text/javascript" 
                  id="clustrmaps"
                  src="//clustrmaps.com/map_v2.js?d=XrbpMaLVmtosuKnH8VduALv10d4HUCmcfqp2J26iKJM&cl=ffffff&w=300&h=200">
                </script>
              </ul>
            </div>

          </section>
        </div>
      </article>
    </div>

    {% include scripts.html %}
  </body>
</html>
